<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Projecktor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    @Scripts.Render("~/bundles/basescripts")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/galleryscripts")
    <script src="~/Scripts/postCountScript.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>