<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/basescripts")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/galleryscripts")
    @RenderSection("head", false)
</head>
<body class="external-body">
    <div>
        @RenderBody()
    </div>
</body>
</html>
