<div class="navigation-field">
    <a href='@Url.Action("Index", "Dashboard")' title="Home"><img src='@Url.Content("~/Images/Home.png")' /></a>
    <a href='@Url.Action("Following", "Dashboard")' title="Following"><img src='@Url.Content("~/Images/Following.png")' /></a>
    <a href='@Url.Action("Followers", "Dashboard")' title="Followers"><img src='@Url.Content("~/Images/Followers.png")' /></a>
    <a href='@Url.Action("Likes", "Dashboard")' title="Likes"><img src='@Url.Content("~/Images/Like.png")' /></a>
    <a href='@Url.Action("Settings", "Dashboard")' title="Settings"><img src='@Url.Content("~/Images/Settings.png")' /></a>
    <a href='@Url.Action("Activity", "Dashboard")' title="Activity"><img src='@Url.Content("~/Images/Activity.png")' /></a>

    @using (var logoutForm = Html.BeginForm("Logout", "Dashboard", FormMethod.Post, new { @class = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="logoutButton" value="" title="Logout" />
    }
</div>
