@model PostViewModel

<div class="posts" id="posts_@Model.PostId">

    @if (Model.ReblogedFrom != null)
    {
        string urlLink = "http://" + Model.Author.Username + ".projecktor.com";
        <a href="@urlLink">@Model.Author.Username</a><label>reblogged</label>

        string urlLinkReblog = "http://" + Model.ReblogedFrom.Username + ".projecktor.com";
        <a href="@urlLinkReblog">@Model.ReblogedFrom.Username</a>


        for (int i = 0; i < Model.Images.Count; i++)
        {

            if (Model.Images.Count > 1)
            {
                string[] image = Model.Images[i].Remove(0, 1).Split('.');

                if (IsCDNAvailable == true)
                {
                    <a onclick="GalleryMany('@Model.PostId-@i', '@String.Format("{0}{1}", ProjecktorCDN, "/Images/full_page_vignette.png")')">
                        <img src="@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_540.", image[1])" , class="image540" width="540" id="@i" />
                    </a>
                }
                else
                {
                    <a onclick="GalleryMany('@Model.PostId-@i', '@Url.Action("image", "home", new { path = "~/Images/full_page_vignette.png" } )')">
                        <img src="@Url.Action("image", "home", new { path = image[0] + "_540." + image[1] } )" , class="image540"  width="540" id="@i" />
                    </a>
                }
            }
            else
            {
                string[] image = Model.Images[i].Remove(0, 1).Split('.');

                if (IsCDNAvailable == true)
                {
                         <a onclick="GalleryOne('@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_720.", image[1])', '@String.Format("{0}{1}", ProjecktorCDN, "/Images/full_page_vignette.png")')">
                            <img src="@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_540.", image[1])" , class="image540" width="540" id="@i" />
                         </a>
                }
                else
                {
                    <a onclick="GalleryOne('@Url.Action("image", "home", new { path = image[0] + "_720." + image[1] } )', '@Url.Action("image", "home", new { path = "~/Images/full_page_vignette.png" } )')">
                        <img src="@Url.Action("image", "home", new { path = image[0] + "_540." + image[1] } )" , class="image540" width="540" id="@i" />
                    </a>
                }

            }
        }

        <p>@Model.Text</p>

        string urlLinkSource = "http://" + Model.Source.Author.Username + ".projecktor.com/post/" + Model.Source.Id;
        <label>source: <a href="@urlLinkSource">@Model.Source.Author.Username</a></label><br /><br />
    }
    else
    {
        string urlLink = "http://" + Model.Author.Username + ".projecktor.com";
        <a href="@urlLink">@Model.Author.Username</a><br />

        for (int i = 0; i < Model.Images.Count; i++)
        {
            if (Model.Images.Count == 1)
            {
                string[] image = Model.Images[i].Remove(0, 1).Split('.');

                if (IsCDNAvailable == true)
                {
                    <a onclick="GalleryOne('@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_720.", image[1])', '@String.Format("{0}{1}", ProjecktorCDN, "/Images/full_page_vignette.png")')">
                        <img src="@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_540.", image[1])" , class="image540" width="540" id="@i" />
                    </a>
                }
                else
                {
                    <a onclick="GalleryOne('@Url.Action("image", "home", new { path = image[0] + "_720." + image[1] } )', '@Url.Action("image", "home", new { path = "~/Images/full_page_vignette.png" } )')">
                        <img src="@Url.Action("image", "home", new { path = image[0] + "_540." + image[1] } )" , class="image540" width="540" id="@i" />
                    </a>
                }
            }
            else
            {
                string[] image = Model.Images[i].Remove(0, 1).Split('.');

                if (IsCDNAvailable == true)
                {
                    <a onclick="GalleryMany('@Model.PostId-@i', '@String.Format("{0}{1}", ProjecktorCDN, "/Images/full_page_vignette.png")')">
                        <img src="@String.Format("{0}{1}{2}", ProjecktorCDN, image[0] + "_540.", image[1])" , class="image540" width="540" id="@i" />
                    </a>
                }
                else
                {
                    <a onclick="GalleryMany('@Model.PostId-@i', '@Url.Action("image", "home", new { path = "~/Images/full_page_vignette.png" } )')">
                        <img src="@Url.Action("image", "home", new { path = image[0] + "_540." + image[1] } )" , class="image540" width="540" id="@i" />
                    </a>
                }
            }
        }
            <p>@Model.Text</p>
    }

    @if (Security.IsAuthenticated == true)
    {
        if (Model.Author.Id != Security.UserId)
        {
            var Liked = CurrentUser.Likes.Any(l => l.PostId == Model.PostId);
            var routeName = Liked ? "unLike" : "like";
            string likeVar = routeName + "_" + Model.PostId;

            if (Model.Source != null) {
                <input type="button" class="likeButton" id="@likeVar" onclick="LikePost(@Model.PostId, @Model.Source.Id)" title="Like"/>
            }
            else {
                <input type="button" class="likeButton" id="@likeVar" onclick="LikePost(@Model.PostId, @Model.Author.Id)" title="Like" />
            }

        }

        if (Model.ReblogedFrom == null) {
            <input type="button" class="reblogButton" onclick="Reblog(@Model.TextId, @Model.Author.Id, @Model.PostId)" title="Reblog" />
        }
        else {
            <input type="button" class="reblogButton" onclick="Reblog(@Model.TextId, @Model.Author.Id, @Model.Source.Id)" title="Reblog" />
        }


        if (Model.ReblogedFrom != null && Model.Author.Id == Security.UserId) {
            <input type="button" value="Delete" onclick="DeleteReblog(@Model.PostId)" />
        }
        else if (Model.Author.Id == Security.UserId && Model.ReblogedFrom == null) {
            <input type="button" value="Delete" onclick="DeletePost(@Model.PostId)" />
        }
    }

   @if (Model.Hashtags != null)
   {
        <br />
        <br />

        foreach (Hashtag tag in Model.Hashtags) {
            <label>@Html.RouteLink("#"+tag.Tag, new { controller = "home", id = tag.Tag, action = "tagged" })</label>
       }

        <br />
        <br />
   }

    @if (Model.ReblogedFrom == null) {
        <label>@Html.RouteLink("Notes: " + Model.PostCount.ToString(), new { controller = "home", id = Model.Author.Id, action = "notes" })</label>
    }
    else {
        <label>@Html.RouteLink("Notes: " + Model.PostCount.ToString(), new { controller = "home", id = Model.Source.Id, action = "notes" })</label>
    }
</div>