@model TextPost

<div class="posts" id="posts_@Model.Id">
    <label>@Html.RouteLink(Model.Author.Username, new { controller = "home", subdomain = Model.Author.Username, action = "index" }) </label><br />
    <p>@Model.Text</p>

    @if (Security.IsAuthenticated == true)
    {
        if (Model.AuthorId != Security.UserId)
        {
            var Liked = CurrentUser.Likes.Any(u => u.PostId == Model.Id);
            var routeName = Liked ? "Unlike" : "Like";

            <input type="button" id="like_@Model.Id" onclick="LikePost(@Model.Id)" value="@routeName" />
        }

        if (Model.AuthorId == Security.UserId) {
           <input type="button" value="Delete" onclick="DeletePost(@Model.Id)" />
        }
    }
</div>