@model TextPostViewModel

<div class="posts" id="posts_@Model.PostId">

    @if (Model.ReblogedFrom != null)
    {
        <label>@Html.RouteLink(Model.Author.Username, new { controller = "home", subdomain = Model.Author.Username, action = "index" }) reblogged</label>

        <label>@Html.RouteLink(Model.ReblogedFrom.Username, new { controller = "home", subdomain = Model.ReblogedFrom.Username, action = "index" }) </label><br />
        <p>@Model.Text</p>

        <label>source: @Html.RouteLink(Model.Source.Author.Username, new { controller = "home", subdomain = Model.Source.Author.Username, id = Model.Source.Id, action = "post" })</label><br /><br />
    }
    else
    {
        <label>@Html.RouteLink(Model.Author.Username, new { controller = "home", subdomain = Model.Author.Username, action = "index" }) </label><br />
            <p>@Model.Text</p>
    }

    @if (Security.IsAuthenticated == true)
    {
        if (Model.Author.Id != Security.UserId)
        {
            var Liked = CurrentUser.Likes.Any(l => l.PostId == Model.PostId);
            var routeName = Liked ? "Unlike" : "Like";


            if (Model.Source != null) {
                <input type="button" id="like_@Model.PostId" onclick="LikePost(@Model.PostId, @Model.Source.Id)" value="@routeName" />
            }
            else {
                <input type="button" id="like_@Model.PostId" onclick="LikePost(@Model.PostId, @Model.PostId)" value="@routeName" />
            }

        }


        if (Model.ReblogedFrom == null) {
            <input type="button"  value="Reblog" onclick="Reblog(@Model.TextId, @Model.Author.Id, @Model.PostId)" />
        }
        else {
            <input type="button"  value="Reblog" onclick="Reblog(@Model.TextId, @Model.Author.Id, @Model.Source.Id)" />
        }


        if (Model.ReblogedFrom != null && Model.Author.Id == Security.UserId) {
            <input type="button" value="Delete" onclick="DeleteReblog(@Model.PostId)" />
        }
        else if (Model.Author.Id == Security.UserId && Model.ReblogedFrom == null) {
            <input type="button" value="Delete" onclick="DeletePost(@Model.PostId)" />
        }
    }

   @if (Model.Hashtags != null)
   {
        <br />
        <br />

        foreach (var tag in Model.Hashtags) {
            <label>@Html.RouteLink("#"+tag.Tag, new { controller = "home", id = tag.Tag, action = "tagged" })</label>
       }

        <br />
        <br />
   }

    @if (Model.ReblogedFrom == null) {
        <label>@Html.RouteLink("Notes: " + Model.PostCount.ToString(), new { controller = "home", id = Model.Author.Id, action = "notes" })</label>
    }
    else {
        <label>@Html.RouteLink("Notes: " + Model.PostCount.ToString(), new { controller = "home", id = Model.Source.Id, action = "notes" })</label>
    }
</div>