@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="login-form">
    <div class="white-pane">
        @using (var signupForm = Html.BeginForm("Login", "Home"))
        {
            @Html.AntiForgeryToken()

            <div class="validation">
                @Html.ValidationSummary()
            </div>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "input" })   <br />
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input" })  <br />
            <input type="submit" value="Login" />
        }
    </div>
</div>

<div>
    @Html.ActionLink("Register", "Register")
    @Html.ActionLink("Forgot Password", "ForgotPassword")
</div>
