@model LoginViewModel

@{
    ViewBag.Title = "Log in | Projecktor";
}

<p>
    @using (var signupForm = Html.BeginForm("Login", "Home"))
    {
        @Html.AntiForgeryToken()

            @Html.ValidationSummary()
            
            <div class="username-input">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "input" })
            </div>

            <div class="password-input">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input" })
            </div>

        <input type="submit" value="Login" />
    }
</p>

<div>
    @Html.ActionLink("Register", "Register")
    @Html.ActionLink("Forgot Password", "ForgotPassword")
</div>
