@model LoginViewModel

@{
    ViewBag.Title = "Log in | Projecktor";
}

<p>
    @using (var signupForm = Html.BeginForm("Login", "Home"))
    {
        @Html.AntiForgeryToken()

            @Html.ValidationSummary() <br />
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" }) <br />
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" }) <br />
        <input type="submit" value="Login" />
    }
</p>

<div>
    @Html.ActionLink("Register", "Register")
</div>
