@model PasswordRestViewModel

@{
    ViewBag.Title = "Password Reset";
}

<p>
    @using (var signupForm = Html.BeginForm("PasswordReset", "Home"))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary() <br />
        @Html.HiddenFor(m => m.userId, new { Value = ViewContext.RouteData.Values["userId"] })
        @Html.HiddenFor(m => m.passwordId, new { Value = ViewContext.RouteData.Values["passwordId"] })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password" }) <br />
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" }) <br />
        <input type="submit" value="Send" />
    }
</p>