@model SearchModel

<div id="navigationBarExternal">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBarExternal", Model.SubdomainUser)
</div>

<h1 class="blog-header">
    <a class="blog-title" href="/">@Model.SubdomainUser.BlogTitle</a>
</h1>

@foreach (PostViewModel textPost in Model.FoundPosts) {
    @Html.Partial("_PostModelExternal", textPost);
}

@Html.Partial("_PostAttachment")