@model SearchModel

@{
    ViewBag.Title = "Search";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

<div>
    @foreach (var user in Model.FoundUsers) {
        <span>@user.Username</span> @Html.Partial("_FollowButtonPartial", user)<br />
    }
</div>

<div class="posts-all">

    @foreach (PostViewModel textPost in Model.FoundPosts) {
        @Html.Partial("_PostModelPartial", textPost);
    }

    @Html.Partial("_PostAttachment")
</div>