@model ExternalViewModel

@{
    ViewBag.Title = "Projecktor External";
}

<div id="navigationBarExternal">
    @Html.Partial("_Searchbar")
</div>


@section head
{
    @Scripts.Render("~/bundles/userpagescripts")
    <link href="~/Content/projecktorStyleExternal.css" rel="stylesheet" />
}

<h1 class="blog-header">
    <a class="blog-title" href="/">@Model.BlogTitle</a>
</h1>

@foreach (PostViewModel textPost in Model.Posts) {
    @Html.Partial("_PostModelExternal", textPost);
}

@Html.Partial("_PostAttachment")

