@model IEnumerable<PostViewModel>

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

@{
    ViewBag.Title =  "Projecktor External";
}

@section head {
    @Scripts.Render("~/bundles/userpagescripts")
}

<div class="posts-all">

    @foreach (PostViewModel textPost in Model) {
        @Html.Partial("_PostModelPartial", textPost);
    }

    @Html.Partial("_PostAttachment")
</div>