@model IEnumerable<TextPost>

@{
    ViewBag.Title = "Projecktor";
}

<div>
    @Html.ActionLink("Text Post", "TextPost")
    @Html.ActionLink("Users", "Profiles")
    @Html.ActionLink("Following", "Following")
    @Html.ActionLink("Followers", "Followers")
    @Html.ActionLink("Likes", "Likes")

    @using (var logoutForm = Html.BeginForm("Logout", "Dashboard")) {
        @Html.AntiForgeryToken()
        <input type="submit" value="Log Out" />
    }
</div>

    @if (Model.Any() == true)
    {
        foreach (var textPost in Model) {
            @Html.Partial("_TextPostPartial", textPost);
        }
    }
    else
    {
         <div class="posts">
            <p>Make a post !</p>
         </div>
    }