@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Dashboard";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

@section head
{
<link href="~/Content/textpostSheet.css" rel="stylesheet" />
<link href="~/Content/imagpostSheet.css" rel="stylesheet" />

@Scripts.Render("~/bundles/dashboardscripts")
<script src="~/Scripts/formGlass.js"></script>
}

<div>
    <a href="/imagepost" id="imagepost" onclick="GlassOn()">Image Post</a>
    <a href="/textpost" id="textpost" onclick="GlassOn()">Text Post</a>
</div>

@Html.Partial("_TextPost", new CreateTextPostViewModel())
@Html.Partial("_ImagePost", new CreateImagePostViewModel())

<div class="post-forms-glass" style="opacity:0; display:none"></div>

<div class="posts-all">
    @if (Model.Any() == true)
    {
        foreach (PostViewModel post in Model)
        {
            @Html.Partial("_PostModelPartial", post);
        }
        @Html.Partial("_PostAttachment")
    }
    else
    {
        <div class="posts">
            <p>Make a post !</p>
        </div>
    }
</div>