@model FollowViewModel

@{
    ViewBag.Title = "Following";
}
<script src="~/Scripts/actionScripts.js"></script>


<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

<div class="follow-list">
    <div class="white-pane">

        <div class="titles-container">
            <h1 class="titles">Following @Model.FollowingCount people</h1>
        </div>

        <div class="follows">
            @if (Model.FollowData.Any() == true) {

                int i = 0;

                foreach (User following in Model.FollowData)
                {
                    i++;

                    string className;

                    if(i % 2 == 0) {
                        className = "alt-follow";
                    }
                    else {
                        className = "follow";
                    }

                    <div class="@className">
                        <a class="follow-avatar" href="@String.Format("{0}{1}{2}", "http://", following.Username, ".projecktor.com")">
                            <img class="follow-avatar-img" src="@Url.Action("image", "home", new { path = following.Avatar })" />
                        </a>

                        <div class="follow-info">
                            <div class="follow-name">
                                <a class="follow-link" href="@String.Format("{0}{1}{2}", "http://", following.Username, ".projecktor.com")">@following.Username</a>
                            </div>

                            <div class="follow-description">
                                <span class="blog-follow-title">@following.BlogTitle</span>
                            </div>
                        </div>

                        <div class="follow-button">
                            @Html.Partial("_FollowButtonPartial", following)
                        </div>
                    </div>
                }
            }
            else {
                <p>you're not following anyone</p>
            }
            <div class="page-buttons">
                @if (Model.PrevPage > 0) {
                    @Html.ActionLink("Previous", "Following", new { pageNo = Model.PrevPage })
                }

                @if (Model.FollowingCount > Model.PageSize * Model.NextPage - 1) {
                    @Html.ActionLink("Next", "Following", new { pageNo = Model.NextPage })
                }
            </div>
        </div>
    </div>
</div>
