@model CreateImagePostViewModel

@{
    ViewBag.Title = "TextPost | Projecktor";
}

<h2>TextPost</h2>

<p>
    @using (var form = Html.BeginForm("ImagePost", "Dashboard", FormMethod.Post, new { enctype ="multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Images)
        @Html.TextBoxFor(m => m.Images, new { type = "file", multiple = "multiple" })
        @Html.TextAreaFor(m => m.Text)
        @Html.TextAreaFor(m => m.Hashtags)
    
        <input type="submit" value="Post" />
    }
</p>