@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Likes";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

@section head
{
    @Scripts.Render("~/bundles/likesdashboardscripts")
}

<div class="posts-all">
    @if (Model.Any() == true)
    {
        foreach (PostViewModel textPost in Model)
        {
            @Html.Partial("_PostModelPartial", textPost);
        }
        @Html.Partial("_PostAttachment")
    }
    else
    {
        <div class="posts-intital">
            <p class="initial-text">Like a post !</p>
        </div>
    }
</div>