@model SettingsViewModel

@{
    ViewBag.Title = "Settings";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

<div class="settings-list">
    <div class="white-pane">
        <div class="settings">
            <div class="titles-container">
                <h1 class="titles">Settings</h1>
            </div>

            @using (var signupForm = Html.BeginForm("Settings", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()


                <div class="username">
                    <span class="settings-label">Username:</span>@Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "input username-input" })
                </div>

                <div class="blog-title-settings">
                    <span class="settings-label">Blog Title:</span>@Html.TextBoxFor(m => m.BlogTitle, new { placeholder = "Blog Title", @class = "input blogTitle-input" })
                </div>

                <div class="email">
                    <span class="settings-label">Email:</span>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "input email-input" })
                </div>

                <div class="new-password">
                    <span class="settings-label">New Password:</span>@Html.PasswordFor(m => m.NewPassword, new { placeholder = "Password", @class = "input new-password-input" })
                </div>

                <div class="password">
                    <span class="settings-label">Current Password:</span>@Html.PasswordFor(m => m.CurrentPassword, new { placeholder = "Password", @class = "input password-input" })
                </div>

                <div class="avatar-settings">
                    <img class="settings-avatar-img" src="@Url.Action("image", "home", new { path = CurrentUser.Avatar})" />
                    <span class="settings-label">Avatar:</span>@Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "input-avatar" })
                </div>

                <div class="save-button-settings">
                    <input class="settings-button" type="submit" value="Save" />
                </div>
            }
        </div>
    </div>
</div>
